<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titanic</title>
</head>
<body>
    <div style="color: orangered;">
        <h1>Survived Or Not</h1>
        <form action="{{ url_for('predict')}}" method="POST">
            <input type="text" name="Pclass" id="p" placeholder="Pclass">
            <br>
            <input type="text" name="Age" id="h" placeholder="Age">
            <br>
            <input type="text" name="Sex" id="b" placeholder="Sex">
            <br>
            <input type="text" name="SibSp" id="r" placeholder="SibSp">
            <br>
            <input type="text" name="Parch" id="st" placeholder="Parch">
            <br>
            <input type="text" name="Fare" id="in" placeholder="Fare">
            <br>
            <hr>
            <button type="submit" id="sub">
                <b>
                    Predict Survived Or Not
                </b>
                </button>
        </form>

    </div>
    <br><br>
    <b>
        <i>
            Survived : {{predection_eval}}
        </i>
    </b>
    <hr>
    <a href="https://github.com/vijit200/titanic" target="_main">
        <img src="https://www.bing.com/th?id=OIP.NGIDdVP6vw9ue_D-mrEVFQHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.25&pid=3.1&rm=2" alt="vijit_github" width="40px">
    </a>
</body>
</html>